@charset "UTF-8";
@media screen and (min-width: 320px) {
  html {
    font-size: 29.62963px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 33.33333px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 34.72222px;
  }
}

@media screen and (min-width: 380px) {
  html {
    font-size: 35.18519px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 35.55556px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 38.14815px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 38.33333px;
  }
}

@media screen and (min-width: 1080px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 1080px) {
  html {
    font-size: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "微软雅黑",sans-serif;
  color: #2a2a2a;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  cursor: auto;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

.title {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.title .back {
  width: 0.96rem;
  height: 0.96rem;
  background: url("../image/loginimg/icon_back_orange.png");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  font-size: 0.51rem;
  color: #2a2a2a;
}

.content {
  padding: 0 1.2rem;
}

.content .logo {
  width: 4.07rem;
  height: 0.96rem;
  background: url("../image/loginimg/1.png");
  background-size: cover;
  margin: auto;
  margin-top: 2.6rem;
  margin-bottom: 0.90rem;
}

.content input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.45rem 0.72rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #dcdcdc;
  font-size: 0.42rem;
}

.content .login {
  width: 8.04rem;
  height: 1.26rem;
  background: #ff8b02;
  color: #fff;
  font-size: 0.45rem;
  text-align: center;
  line-height: 1.26rem;
  border-radius: 20px;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.92rem;
}

.content .toRe {
  color: #ff8000;
  font-size: 0.36rem;
  text-align: center;
}

/*阴影遮罩*/
.shadow{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left:0;
  display: none;
}

.shadow .tipBox1 {
  background: #fff;
  margin: auto 1.65rem;
  border-radius: 10px;
  display: none;
}

.shadow .tipBox1 span {
  display: block;
}

.shadow .tipBox1 span.contentText {
  padding: 1rem 0.2rem;
  text-align: center;
}

.shadow .tipBox1 .okBtn {
  width: 100%;
  height: 1.26rem;
  line-height: 1.26rem;
  text-align: center;
  color: #ff8000;
  border-top: 1px solid #dcdcdc;
}
